
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-button {
    background: #ff6f61;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #ff3b2e;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    width: 250px;
    transition: 0.3s ease;
}
.feature:hover {
    transform:translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition:.3s ease;
}

.testimonials {
    background: gray;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.testimonial {
    margin-bottom: 20px;
    font-style: italic;
}

footer {
    background: #333;
    color: white;
    text-align: left;
    padding: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    border-bottom: 2px solid #ddd;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
   
}

.nav-links a{
    color:#1a73e8;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3 ease;
}

.nav-links a:hover{
    color:red
}

.nav-links a.signin{
    color: white;
}

.signin{
    background: black;
    font: weigth 500px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
}
.signin:hover{
    background: #520a8a;    
}
